<!-- registro-cliente.component.html -->

<header class="header">
    <div class="principal">
      <nav class="menu">
        <img id="logo" src="assets/Imagenes/logoRecortado.jpg" alt="Logo" />
        <h1 id="titulo">PASTA E <br />PASSIONE</h1>
        <img id="logo2" src="assets/Imagenes/logoRecortado.jpg" alt="Logo" />
      </nav>
    </div>
  </header>
  
  <div class="container">
    <div class="login-box">
      <div class="image-container left">
        <img src="assets/Imagenes/menu/platoprincipal/pizza-prosciutto.jpg" alt="Pizza" />
      </div>
  
      <div class="form-container">
        <h2 class="title">Pasta e Passione</h2>
        <p class="subtitle">¡Únete a nuestra familia!</p>
  
        <form #registroForm="ngForm" (ngSubmit)="registrar(registroForm)">
          <div class="input-group">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Ingresa tu nombre" required />
          </div>
  
          <div class="input-group">
            <label>Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" placeholder="Ingresa tu apellido" required />
          </div>
  
          <div class="input-group">
            <label>Correo</label>
            <input type="email" class="form-control" [(ngModel)]="cliente.correo" name="correo" placeholder="Ingresa tu correo" required />
          </div>
  
          <div class="input-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="cliente.contrasena" name="contrasena" placeholder="••••••••" required />
          </div>
  
          <div class="input-group">
            <label>Confirmar Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="••••••••" required />
          </div>
  
          <div class="input-group">
            <label>Dirección</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.direccion" name="direccion" placeholder="Ingresa tu dirección" required />
          </div>
  
          <div class="input-group">
            <label>Teléfono</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" placeholder="Ingresa tu teléfono" required />
          </div>
  
          <button type="submit" class="btn">Registrarse</button>
        </form>
  
        <p class="register-text">¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
  
        <div *ngIf="error" style="color: red;">{{ error }}</div>
        <div *ngIf="exito" style="color: green;">{{ exito }}</div>
      </div>
  
      <div class="image-container right">
        <img src="assets/Imagenes/menu/platoprincipal/Pizza-Margherita.jpg" alt="Pizza" />
      </div>
    </div>
  </div>
  