<div class="carusel" id="carusel">
    <button class="prev">&#10094;</button> <!-- Botón para mover a la izquierda -->
    
    <!-- Contenedor del carrusel donde se muestran las imágenes -->
    <div class="carusel-container">
      <!-- Usamos *ngFor para iterar sobre caruselItemsData y mostrar cada ítem -->
      <div *ngFor="let item of caruselItemsData" class="carusel-item">
        <img [src]="item.image" [alt]="item.info">
        <div class="info">{{ item.info }}</div>
      </div>
    </div>
    
    <button class="next">&#10095;</button> <!-- Botón para mover a la derecha -->
  </div>
  
  <!-- Botón para ir al menú -->
  <br>
  <div class="verM">
    <button id="vermas" (click)="goToMenu()">Ver menú</button>
  </div>
  
  <br>
  
  <div id="lineaSeparadora2"></div>
  