<aside class="sidebar">  
    <div class="titulo">
        <h1>¡Bienvenido, administrador!</h1>
    </div>
                              
    <nav>
        <ul>
            <li><a href="/homeAdmin">Inicio</a></li>
            <li><a href="/homeAdmin/usuarios">Usuarios</a></li>
            <li><a href="/homeAdmin/productos">Productos</a></li>
            <li><a href="/homeAdmin/adicionales">Adicionales</a></li>
            <li><a href="/admin/pedidos">Pedidos</a></li>
            <li><a href="/admin/promociones">Promociones</a></li>
        </ul>
    </nav>

</aside>