<app-header-cruds></app-header-cruds>

<div class="edit-form-container">
  <h1>Editar Operador</h1>

  <form *ngIf="formVisible" (ngSubmit)="guardarCambios()" #form="ngForm">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre"
             [(ngModel)]="operador.nombre" name="nombre" required>
    </div>

    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario:</label>
      <input type="text" class="form-control" id="usuario"
             [(ngModel)]="operador.usuario" name="usuario" required>
    </div>

    <div class="mb-3">
      <label for="contrasena" class="form-label">Contraseña:</label>
      <input type="text" class="form-control" id="contrasena"
             [(ngModel)]="operador.contrasena" name="contrasena" required>
    </div>

    <div class="button-container">
      <button type="button" class="btn btn-custom-cancel" [routerLink]="['/admin/operadores']">
        Cancelar
      </button>
      <button type="submit" class="btn btn-custom-save" [disabled]="form.invalid">
        Actualizar Operador
      </button>
    </div>
  </form>
</div>
