<div class="contenido" style="background: url('assets/Imagenes/fondoAdmin.jpg') no-repeat center center fixed; background-size: cover;">
    <div class="stats">
        <div class="card">
            <h3>Platos Disponibles</h3>
            <p>150.00</p>
        </div>
        <div class="card">
            <h3>Total de Ordenes</h3>
            <p>11,000</p>
        </div>
        <div class="card">
            <h3>Total de Ventas</h3>
            <p>2,77000</p>
        </div>
        <div class="card">
            <h3>Total de Clientes</h3>
            <p>35,000</p>
        </div>
    </div>
    <div class="reports">
        <div class="report-card">
            <h3>TOP 3 DOMICILIARIOS</h3>
            <p>Juan Pérez</p>
            <p>María González</p>
            <p>Carlos Ramírez</p>
        </div>
        <div class="report-card">
            <h3>TOP 10 PLATOS MÁS PEDIDOS</h3>
            <ol>
                <li>Pollo Asado</li>
                <li>Hamburguesa</li>
                <li>Pasta Alfredo</li>
                <li>Tacos</li>
                <li>Pizza</li>
                <li>Sushi</li>
                <li>Ensalada César</li>
                <li>Sandwich Club</li>
                <li>Churrasco</li>
                <li>Lasagna</li>
            </ol>
        </div>
    </div>
    
</div>
