<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla adicionales </title>
</head>
<body>

  <app-header-cruds> </app-header-cruds>

  <div class="container mt-4">
    <h1 class="text-center">TABLA DE ADICIONALES</h1>
  
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="busqueda">
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped shadow rounded">
        <thead class="table-dark text-center">
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let adicional of adicionalesFiltrados()">
            <td>{{ adicional.nombre }}</td>
            <td>{{ adicional.precio | currency:'COP':'symbol' }}</td>
            <td class="text-center">
              <button class="btn btn-primary btn-sm me-2" (click)="editarAdicional(adicional)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="eliminarAdicional(adicional)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="text-center mt-4">
      <button class="btn btn-success" (click)="irAAgregar()">Agregar Adicional</button>
    </div>
  </div>
  
</body>
</html>

