<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>

</head>


<body>

    <app-header-cliente> </app-header-cliente>
    <!-- FORMULARIO -->
    <div class="container mt-4 formulario-edicion">
        <h2 class ="text-center">Editar Perfil</h2>

        <div *ngIf="isLoading" class="text-center my-3">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Cargando...</span>
            </div>
        </div>

        <div *ngIf="errorMessage && !isLoading" class="alert alert-danger">
            {{ errorMessage }}
        </div>

        <form *ngIf="perfil" (ngSubmit)="actualizarPerfil()" #perfilForm="ngForm" class="shadow p-4 rounded">

            <!-- Campo para el nombre -->
            <div class="mb-3">
                <label class="form-label">Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="perfil.nombre" name="nombre" required>
            </div>

            <!-- Campo para el apellido -->
            <div class="mb-3">
                <label class="form-label">Apellido:</label>
                <input type="text" class="form-control" [(ngModel)]="perfil.apellido" name="apellido" required>
            </div>

            <!-- Campo para el correo -->
            <div class="mb-3">
                <label class="form-label">Correo:</label>
                <input type="email" class="form-control" [(ngModel)]="perfil.correo" name="correo" required readonly>
            </div>
            <!-- Campo para la contraseña visible -->
            <div class="mb-3">
                <label class="form-label">Contraseña:</label>
                <input type="text" class="form-control" [(ngModel)]="perfil.contrasena" name="contrasena" required>
            </div>
            <!-- Campo para la dirección -->
            <div class="mb-3">
                <label class="form-label">Dirección:</label>
                <input type="text" class="form-control" [(ngModel)]="perfil.Direccion" name="direccion" required>
            </div>

            <!-- Campo para el teléfono -->
            <div class="mb-3">
                <label class="form-label">Teléfono:</label>
                <input type="text" class="form-control" [(ngModel)]="perfil.Telefono" name="telefono" required>
            </div>

            <!-- Botones de acción -->
            <div class="text-center">
                
                <button type="submit" class="btn btn-primary">Actualizar Cliente</button>
                <button type="button" (click)="cancelar()"class="btn btn-secondary">Cancelar</button>
                <button type="button" (click)="eliminarMiCuenta()" class="btn btn-tertiary" >Eliminar Cuenta</button>
            </div>
        </form>
    </div>

    <app-footer> </app-footer>
</body>
    


</html>



