<section class="seccionInicial">
    <!-- Elemento de video -->
    <video id="videoPlayer" autoplay muted loop playsinline class="background-video">
    <source id="videoSource" src="videos/videoPrincipal1.mp4" type="video/mp4">
        Tu navegador no soporta el tag de video.
    </video>

    <div class="descripcion">
        <h2 id="bienvenida"> Bienvenido a Nuestra Autentica</h2>
        <h1> COCINA ITALIANA </h1> <!-- Título principal -->
        <p>Sabores hechos con amor y autentica pasion en cada bocado !!!.</p> <!-- Texto descriptivo -->
        
        <button id="ordenar" onclick="window.location.href='/menu'">Ordenar</button> <!-- Botón de acción -->
    </div>

</section>
