<app-header-cruds></app-header-cruds>
 <div class = "body">

  <div class="container mt-4">
    <h1>MENU TABLA CLIENTES</h1>
  
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="searchInput"
        placeholder="Buscar..."
        (input)="onSearch($event)"
      />
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped shadow rounded">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of filteredClientes">
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editarCliente(cliente.id)">Editar</button>
              <button class="btn btn-danger btn-sm" (click)="eliminarCliente(cliente.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <nav aria-label="Page navigation example" class="pagination-container">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button id="prevButton" class="page-link" (click)="previousPage()">Anterior</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button id="nextButton" class="page-link" (click)="nextPage()">Siguiente</button>
        </li>
      </ul>
    </nav>

    <div class="text-center mt-3">
      <button class="btn btn-success" (click)="agregarCliente()">Agregar Cliente</button>
    </div>
  </div>
 

</div> 
  
 