<div class= "principal">
            

    <nav class="menu">
        
        <img id="logo" src="Imagenes/logoRecortado.jpg" alt="Logo">
        <h1 id = "titulo"> PASTA E 
            <br> PASSIONE </h1>

        
        <ul>
            <li><a href="#carusel">Menu y reservas</a></li>
            <li><a href="#contacto">Contactanos </a></li>
            <li><a href="/menu">Hacer Pedido</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
        </ul>

        <img id="logo2" src="Imagenes/logoRecortado.jpg" alt="Logo">
    </nav>    
</div>

