<section class="reservas">
  <h2 id="reservaTitulo">RESERVA EN NUESTRAS SEDES</h2>

  <section class="sedes">
    <div class="sede">
      <img src="assets/Imagenes/reserva/sede1.jpg" alt="sede1" />
      <div class="reservaDescripcion">
        <h3 class="tituloSede">Ristorante Usaquen</h3>
        <p class="direccionSede">Carrera 11 #145 - 36</p>
        <button class="reserva">Reservar</button>
        <a [routerLink]="['/comoLlegar', 4.59050, -74.08541]">
          <button class="reserva">¿Cómo llegar?</button>
        </a>
      </div>
    </div>

    <div class="sede">
      <img src="assets/Imagenes/reserva/sede2.jpg" alt="sede2" />
      <div class="reservaDescripcion">
        <h3 class="tituloSede">Ristorante Zona T</h3>
        <p class="direccionSede">Carrera 13 # 82 - 36</p>
        <button class="reserva">Reservar</button>
        <a [routerLink]="['/comoLlegar', 4.66727, -74.05466]">
          <button class="reserva">¿Cómo llegar?</button>
        </a>
      </div>
    </div>

    <div class="sede">
      <img src="assets/Imagenes/reserva/reserva2.jpg" alt="sede3" />
      <div class="reservaDescripcion">
        <h3 class="tituloSede">Ristorante Zona G</h3>
        <p class="direccionSede">Carrera 8 # 64 - 12</p>
        <button class="reserva">Reservar</button>
        <a [routerLink]="['/comoLlegar', 4.65308, -74.05511]">
          <button class="reserva">¿Cómo llegar?</button>
        </a>
      </div>
    </div>
  </section>
</section>