<header class="header">
    <div class="principal">
        <nav class="menu">
            <img id="logo" src="assets/Imagenes/logoRecortado.jpg" alt="Logo">
            <h1 id="titulo"> PASTA E <br> PASSIONE </h1>
                <div class="menu-perfil">
                    <a class="seccion" routerLink="/homeCliente">Home</a>
                    <a class="seccion" routerLink="/editarPerfil">Editar perfil</a>
                    <a class="seccion" id= "pedidosActivos" routerLink="/pedidosActivos"> Mis pedidos</a> 
                    <a class="seccion" routerLink="/historialPedidos">Historial de pedidos</a>
                    <a class="seccion" (click)="logout()">Cerrar sesión</a>

                </div>
            <img id="logo2" src="assets/Imagenes/logoRecortado.jpg" alt="Logo">
        </nav>    
    </div>
</header>

