<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>

</head>

<app-header-cliente> </app-header-cliente>

<body>
    <!-- FORMULARIO -->
    <div class="container mt-4 formulario-edicion">
        <h2>Editar Perfil</h2>

        <form th:action="@{/actualizar}" method="post" th:object="${cliente}" class="shadow p-4 rounded">
            <!-- Campo oculto para simular el método PUT -->
            <input type="hidden" name="_method" value="put" />
            
            <!-- Campo oculto para el ID del cliente -->
            <input type="hidden" th:field="*{id}">

            <!-- Campo para el nombre -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" id="nombre" class="form-control" th:field="*{nombre}" required>
            </div>

            <!-- Campo para el apellido -->
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido:</label>
                <input type="text" id="apellido" class="form-control" th:field="*{apellido}" required>
            </div>

            <!-- Campo para el correo -->
            <div class="mb-3">
                <label for="correo" class="form-label">Correo:</label>
                <input type="email" id="correo" class="form-control" th:field="*{correo}" required readonly>
            </div>
            <!-- Campo para la contraseña visible -->
            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña:</label>
                <input type="text" id="contrasena" class="form-control" th:field="*{contrasena}" required>
            </div>
            <!-- Campo para la dirección -->
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección:</label>
                <input type="text" id="direccion" class="form-control" th:field="*{direccion}" required>
            </div>

            <!-- Campo para el teléfono -->
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="text" id="telefono" class="form-control" th:field="*{telefono}" required>
            </div>

            <!-- Botones de acción -->
            <div class="text-center">
                
                <button type="submit" class="btn btn-primary">Actualizar Cliente</button>
                <a th:href="@{'/homeCliente?correo=' + ${cliente.correo}}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>

        <form th:action="@{/eliminarCuenta/{id}(id=${cliente.id})}" method="post" class="d-inline">
            <button type="submit" class="btn btn-tertiary" >Eliminar Cuenta</button>
        </form>

    </div>
</body>
    
<app-footer> </app-footer>


</html>

