<footer id="contacto">
    <div id="Col1">
        <img id="logoFooter" src="assets/Imagenes/logo.jpg" alt="Logo">
        <p>Todos los derechos reservados</p>
    </div>
    <div id="Col2">
        <h2>ACERCA DE NOSOTROS</h2>
        <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Domicilios</a></li>
            <li><a href="#">Menú</a></li>
            <li><a href="#">Lo Nuevo</a></li>
        </ul>
    </div>
    <div id="Col3">
        <h2>AYUDA</h2>
        <ul>
            <li><a href="#">Habla con Nosotros</a></li>
            <li><a href="#">Certificados</a></li>
            <li><a href="#">Trabaja con Nosotros</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
            <li><a href="#">Política de Tratamiento de Datos</a></li>
        </ul>
    </div>
    <div id="Col4">
        <h2>SÍGUENOS</h2>
        <a href="#"><img src="assets/Imagenes/SocialMedia/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="assets/Imagenes/SocialMedia/Facebook.png" alt="Facebook"></a>
        <a href="#"><img src="assets/Imagenes/SocialMedia/X.png" alt="Twitter"></a>
    </div>
</footer>
