<div class="carusel" id="carusel">
    <button class="prev">&#10094;</button>
    <div class="carusel-container">

        <div class="carusel-item">
            <img src="Imagenes/carruselPlatos/pasta1.jpg" alt="Plato 4">
            <div class="info">Rigattoni con finas hierbas, salsa especial y toque de queso.</div>
        </div>
        <div class="carusel-item">
            <img src="Imagenes/carruselPlatos/pasta2.jpg" alt="Plato 5">
            <div class="info">Raviolis a la boloñesa con especias y salsa artesanal.</div>
        </div>
        <div class="carusel-item">
            <img src="Imagenes/carruselPlatos/pasta3.jpg" alt="Plato 6">
            <div class="info">Pasta italiana con lomo, queso encima y toque especial</div>
        </div>
        <div class="carusel-item">
            <img src="Imagenes/carruselPlatos/BolasPasta.png" alt="Plato 1">
            <div class="info">Flores de spaghetti con hierbas, salsa casera y queso.</div>
        </div>
        <div class="carusel-item">
            <img src="Imagenes/carruselPlatos/carneRadiolis.png" alt="Plato 2">
            <div class="info">Raviolis con parmesano, lomo en salsa italiana y especias. </div>
        </div>
        <div class="carusel-item">
            <img src="Imagenes/carruselPlatos/pizzaEspinaca.png" alt="Plato 3">
            <div class="info">Pizza margarita con hierbas, queso cottage y jamón serrano</div>
        </div>
        
    </div>
    <button class="next">&#10095;</button>
</div>
<script src="Js/carrusel.js"></script>

<br>

<div class="verM">
    <button id="vermas" onclick="window.location.href='/menu'">Ver menú</button>
</div>

<br>

<div id="lineaSeparadora2"> </div>
