<header class="header">
    <div class="principal">
        <nav class="menu">
            <img id="logo" src="assets/Imagenes/logoRecortado.jpg" alt="Logo">
            <h1 id="titulo"> PASTA E <br> PASSIONE </h1>
            <div class="menu-perfil">
                <a class="seccion" routerLink="/homeAdmin" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">Inicio</a>

                <a class="seccion" routerLink="/homeAdmin/usuarios"
                routerLinkActive="active-link">Clientes</a>

                <a class="seccion" routerLink="/admin/menu"
                routerLinkActive="active-link">Productos</a>

                <a class="seccion" routerLink="/admin/adicionales"
                routerLinkActive="active-link">Adicionales</a>
            </div>
            <img id="logo2" src="assets/Imagenes/logoRecortado.jpg" alt="Logo">
        </nav>    
    </div>
</header>

