/* Estilo general de la página */
.background-container {
    padding: 30px;
    background-color: #f8f9fa;
  }
  
  .content-overlay {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  /* Estilo del encabezado */
  h1 {
    font-size: 2.5rem;
    color: #5a2a2a;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3, h4, h5 {
    color: #343a40;
    margin-top: 10px;
  }
  
  /* Estilo de la lista de productos */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li:nth-child(even) {
    background-color: #e9ecef;
  }
  
  /* Detalles del producto */
  h5 {
    font-size: 1.2rem;
    color: #495057;
  }
  
  p {
    font-size: 1rem;
    color: #6c757d;
  }
  
  strong {
    color: #007bff;
  }
  
  /* Estilo para los adicionales */
  ul li {
    background-color: #dfe6e9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .noAdicionales {
    color: #6c757d;
    font-style: italic;
  }
  
  /* Estilo para el total */
  h4 {
    font-size: 1.5rem;
    color: #28a745;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    padding: 10px;
    background-color: #f0fdf4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Mensajes de error o cargando */
  .loading-message, .error-message {
    text-align: center;
    font-size: 1.2rem;
    color: #007bff;
  }
  
  .error-message {
    color: #dc3545;
  }
  /* Estilos del botón Volver */
.btn-volver {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    border: 1px solid #007bff; /* Borde azul */
    padding: 10px 20px; /* Espaciado del botón */
    font-size: 1rem; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a puntero */
    transition: background-color 0.3s, transform 0.3s ease-in-out; /* Transiciones suaves */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
  }
  
  .btn-volver:hover {
    background-color: #0056b3; /* Color de fondo más oscuro cuando pasa el ratón */
    transform: scale(1.05); /* Efecto de ampliación al pasar el ratón */
  }
  
  .btn-volver:focus {
    outline: none; /* Quitar el contorno cuando el botón está enfocado */
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); /* Sombra azul al hacer clic */
  }
  
  .mb-3 {
    margin-bottom: 20px; /* Margen inferior */
  }
  