<aside class="sidebar">  
    <div class="titulo">
        <h1>¡Bienvenido, administrador!</h1>
    </div>
                              
    <nav>
        <ul>
            <li><a routerLink="/homeAdmin" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">Inicio</a></li>

            <li><a routerLink="/admin/usuarios"
                routerLinkActive="active-link">Clientes</a></li>

            <li><a routerLink="/admin/menu"
                routerLinkActive="active-link"> Productos</a></li>

            <li><a routerLink="/admin/adicionales"
                routerLinkActive="active-link">Adicionales</a></li>

            <li><a href="/admin/pedidos">Pedidos</a></li>
            <li><a href="/admin/promociones">Promociones</a></li>
        </ul>
    </nav>

</aside>